body {
  padding: 5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.enemy-select-button {
  margin: 10px;
}

.border {
  border: 1px solid rgb(96, 116, 25);
}

.stats-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 5px;
  padding: 3px;
  list-style: none;
}

.by2grid {
  display: grid;
  grid-template-columns:  auto auto 1fr;
}

.by2grid-rows {
  display: grid;
  grid-template-rows: auto auto;
}

.enemy-form-grid {
  padding-left: 1rem;
  margin: 1rem;
  border: 1px solid grey;
  max-width: 35%;
  display: grid;
  grid-template-columns: 1fr auto ;
}

.enemy-input-grid {
  padding-left: 1rem;
  margin: 1rem;
  border: 1px solid grey;

  display: grid;
  grid-template-columns: 1fr;
}

.button:hover {
  background-color: aqua;
  transition: ease-in-out .3s;
}
.selectedEnemy {
  color: green;
}

.vs-spacing {
  margin: 20px;
  margin-top: -20px;
}

.dead {
  background-color: rgb(144, 3, 3);
}
